@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    height: 90%;
    position: absolute;
    border: 5px solid #000000;
    background-color: gray;
    border-radius: 20px 0 0 20px;
    right: 0;
    transform: translateX(85%);
    z-index: 2;
}

.logo-header img {
    width: 100%;
    max-width: 400px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lista-navbar {
    list-style: none;
}

.lista-navbar li a {
    text-decoration: none;
    color: #000000;
    font-size: 2.5rem;
    line-height: 120px;
    font-weight: bold;
    transition: 0.3s ease;
}

.lista-navbar li a:hover {
    background-image: linear-gradient(45deg, blue, purple);
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}

.main {
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(90deg, #595959 0%, #3D3C3C 94%, #FFFFFF 100%);
    opacity: 1;
}

.blur-background {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

.texto-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #3d3c3c8a;
}

.texto-inicial h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    background-image: linear-gradient(45deg, blue, purple);
    color: transparent;
    background-clip: text;
}

.typing-area {
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.column {
    flex: 1;
    height: 50%;
    width: 100%;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-text {
    background-color: #1d1d1d8a;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
}

.info-text h1 {
    font-size: 2.5rem;
    background-image: linear-gradient(45deg, rgb(124, 124, 124), rgb(255, 255, 255));
    background-clip: text;
    color: transparent;
}

.info-text p {
    font-size: 1.5rem;
    color: #000000;
    background-color: white;
    margin: 10px 0;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}

#input-texto {
    width: 100%;
    height: 80px;
    color: white;
    font-size: 40px;
    text-align: end;
}

.progresso {
    background-color: #1d1d1d8a;
    margin-top: 10px;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}

.progresso p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    width: 20%;
}

.progresso p span {
    color: red;
    font-weight: normal;
}

.progresso progress {
    width: 70%;
    height: 35px;
    accent-color: rgb(38, 0, 255);
}

.keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
}


.keyboard-body {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    max-width: 1300px;
    background-color: #c2c2c2;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: -15px 15px 0 #747474, -17px 18px 0 #000000;
    padding: 15px;
    gap: 15px;
}

.keyboard-body button {
    padding: 15px;
    background-color: #c2c2c2;
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: -4px 4px 0 #747474, -6px 7px 0 #000000;
    transition: 0.2s ease;
    cursor: pointer;
}

.keyboard-body button .active {
    box-shadow: -10px 10px 0 #000000;
    transform: translateX(4px);
    transform: translateY(4px);
}

.keyboard-body button:active {
    box-shadow: 0 0 0;
    transform: translateX(4px);
    transform: translateY(4px);
}

.keyboard-body button:hover {
    background-color: #808080;
}

.btn-enter {
    grid-row: span 2;
}

.btn-shift {
    grid-row: span 1;
    grid-column: span 2;
}

.btn-ctrl {
    grid-column: span 2;
}

.btn-space {
    grid-column: span 6;
    grid-row: span 1;
}