@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    height: 90%;
    position: absolute;
    border: 5px solid #000000;
    background-color: gray;
    border-radius: 20px 0 0 20px;
    right: 0;
    transform: translateX(85%);
    z-index: 2;
}

.logo-header img {
    width: 100%;
    max-width: 400px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lista-navbar {
    list-style: none;
}

.lista-navbar li a {
    text-decoration: none;
    color: #000000;
    font-size: 2.5rem;
    line-height: 120px;
    font-weight: bold;
    transition: 0.3s ease;
}

.lista-navbar li a:hover {
    color: rgb(59, 59, 59);
}

.main {
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(90deg, #595959 0%, #3D3C3C 94%, #FFFFFF 100%);
    opacity: 1;
}

.blur-background {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

.texto-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #3d3c3c8a;
}

.texto-inicial h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    background-image: linear-gradient(45deg, blue, purple);
    color: transparent;
    background-clip: text;
}

.typing-area {
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.column {
    flex: 1;
    height: 50%;
    width: 100%;
}

.keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
}


.keyboard-body {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    max-width: 1300px;
    background-color: #595959;
    padding: 10px;
    gap: 5px;
}

.keyboard-body button {
    height: 60px;
}

.btn-caps {
    grid-column: span 2;
    grid-row: span 1;
}

.btn-enter {
    grid-column: span 1;
    grid-row: span 2;
}

.btn-shift {
    grid-row: span 1;
    grid-column: span 2;
}

.btn-ctrl {
    grid-column: span 2;
}

.btn-space {
    grid-column: span 5;
    grid-row: span 1;
}